<div>
  <button [ngbPopover]="popContent" #myPopover="ngbPopover" [autoClose]="false">Open Popover</button>
</div>

<ng-template #popContent>
  <div>
    this is first popover
  </div>
  <button (click)="openPopover(); closePopover()">Next</button>
  <button (click)="closePopover()">Close Popover</button>
</ng-template>


<div>
  <br><br><br><br><br><br><br><br>
  <button [ngbPopover]="poContent2" #secondPopover="ngbPopover" placement="right-bottom"
  [autoClose]="false">Second popover</button>
</div>
<ng-template #poContent2>
  <div>
    this is second  popover
  </div>
  <button (click)="openThirdPopover()">Next</button>
</ng-template>


<div>
  <br><br><br><br><br><br><br><br>
  <button [ngbPopover]="popContent3" #thirdPopover="ngbPopover" placement="bottom"
  [autoClose]="false">Third popover</button>
</div>

<ng-template #popContent3>
  <div>
    this is third popover content
  </div>
</ng-template>