<div>
  <div ></div>
  <button>Open Popover

    <!-- added span tag to conditionally render the popover otherwise the button will work as usual -->
    <span *ngIf="showpopover"
  [ngbPopover]="popContent" #myPopover="ngbPopover" [autoClose]="false"></span>
  </button>
</div>

<ng-template #popContent>
  <div>
    <div>
    this is first popover
  </div>
  <button (click)="openPopover(); closePopover()">Next</button>
  <button (click)="closePopover()">Close Popover</button>
  </div>
</ng-template>


<div>
  <br><br><br><br><br><br><br><br>
  <button>Second popover

<span *ngIf="showpopover" [ngbPopover]="poContent2" #secondPopover="ngbPopover" placement="right-bottom"
  [autoClose]="false"></span></button>
</div>
<ng-template #poContent2>
  <div >
    this is second  popover
  </div>
  <button (click)="openThirdPopover()">Next</button>
</ng-template>


<div>
  <br><br><br><br><br><br><br><br>
  <button>Third popover
  <span *ngIf="showpopover" [ngbPopover]="popContent3" #thirdPopover="ngbPopover" placement="bottom"
  [autoClose]="false" #p="ngbPopover"></span>
</button>
</div>

<ng-template #popContent3>
  <div>
    this is third popover content
    <button (click)="finish()">Finish</button>
  </div>
</ng-template>